@font-face {
    font-family: inter;
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}


@keyframes abner {
    0% {}

    100% {
        transform: rotate(360deg);
    }
}

@keyframes pular_contador {

    0% {
        margin: 0;
    }

    50% {
        margin-bottom: 3px;
    }

    100% {
        margin-bottom: 0px;
    }
}

@keyframes pular {
    0% {}

    80% {
        transform: rotate(180deg);

    }

    90% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

.btn {
    padding: 10px 30px;
    border-radius: 5px;
    transition-duration: 500ms;

    &:hover {
        box-shadow: 0px 0px 5px var(--rosa);
    }

}

:root {
    --rosa: #C92071;
    --gray: #474747;
    --gray_light: #acabab3c;
}


html {
    scroll-behavior: smooth;
}

header {
    height: 200px;

    #conteiner_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 85px;

    }

    #logo {
        display: flex;
        align-items: center;
        gap: 15px;
        color: var(--rosa);


        img {
            height: 40px;
            width: 40px;
            animation: pular 10s infinite;
            /* animation-delay: 5s; */

        }
    }

    .pesq {
        display: flex;
        align-items: center;

        input {
            background-color: var(--gray_light);
            width: 520px;
            height: 45px;
            padding-left: 15px;
            transition-duration: 800ms;
            border-radius: 5px;

            &:focus {
                outline-color: var(--rosa);
            }

            &::placeholder {
                font-weight: 700;
            }
        }

        a {
            display: flex;
            position: relative;
            right: 35px;
            color: gray;
            transition-duration: 500ms;

            &:hover {
                color: var(--rosa);
            }

        }
    }

    .acoes {
        display: flex;
        align-items: center;
        gap: 30px;

        .cadastro {
            color: black;
            text-decoration: underline;
            transition-duration: 500ms;

            &:hover {
                color: #C92071;

            }
        }

        button {
            background-color: var(--rosa);
            padding: 10px 30px;
            color: white;
            border-radius: 5px;
            transition-duration: 500ms;

            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 5px var(--rosa);
            }
        }

        .carrinho {
            position: relative;

            img {
                &:hover {
                    color: #c0c612;
                }
            }

            span {
                background-color: red;
                border-radius: 100%;
                padding: 2px 5px;
                font-size: 11px;
                color: white;
                display: block;
                text-align: center;
                position: absolute;
                left: 20px;
                bottom: 15px;
                transition-duration: 700ms;
                animation: pular_contador 2s infinite;

                &:hover {
                    background-color: rgb(221, 0, 0);

                }
            }
        }
    }

    ul {
        display: flex;
        gap: 50px;
        padding-left: 85px;

        .active {
            border-bottom: 2px solid var(--rosa);
            animation: ativo 3s alternate;

            a {
                color: var(--rosa);
            }
        }

        li {
            margin: 0;
        }

        a {
            color: black;
            transition-duration: 500ms;

            &:hover {
                color: var(--rosa);
            }
        }
    }


}


#sucesso {
    background-color: var(--gray_light);
    width: 100%;
    height: 1500px;
    padding: 100px 300px 0px 300px;

    .conteiner_sucesso {
        background-color:white;
        height: 1200px;
        padding: 0px 50px 0px 50px;
        border-radius: 10px;

        hr {
            border: 2px solid var(--gray);
            border-radius: 8px;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .titulo_sucesso {
            text-align: center;
            /* background-color: #C92071; */

            .emote {
                font-size: 100px;
            }
        }

        div {

            h4 {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 20px;
            }
        }

        .resumo {

            & .img_resumo {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-top: 25px;

                .img {
                    background-color:#e2e3ff;
                    width: 70px;
                    height: 58px;
                    border-radius: 8px;

                    img {
                        margin-top: 15px;
                    }
                }
            }

            .info_valor {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #f6aa1c27;
                padding: 20px 20px 20px 20px;
                border-radius: 8px;
                margin-top: 25px;

                & div {
                    text-align: end;
                }
            }

            div {
                text-align: center;
                margin-top: 15px;

                a {
                    text-decoration: underline;
                    color: #474747;
                }
            }
        }

    }

    .link_home {
        text-align: center;
        /* background-color: #C92071; */
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        .home {
            background-color: #f6aa1C;
            width: 778px;
            height: 50px;
            color: white;
            padding-top: 12px;
            border-radius: 8px;
            font-weight: 800;
            
            &:hover {
                cursor: pointer;
               
            }
        }
    }
}





#conteiner_bottom {
    .conteiner_rodape {
        width: 100%;
        height: 420px;
        background-color: black;
        color: white;

        .rodape {
            display: flex;
            width: 100%;
            height: 350px;
            padding-top: 50px;
            padding-left: 84px;
            padding-right: 85px;
            justify-content: space-between;

            .logo_rodape {
                width: 300px;
                height: 300px;


                .logoo {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    a {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                    img {
                        width: 50px;
                        height: 50px;
                    }

                    h3 {
                        color: var(--rosa);
                        font-size: 30px;
                    }



                }

                .logo_text {
                    margin-top: 20px;

                    p {

                        line-height: 23px;
                    }

                    div {
                        display: flex;
                        gap: 50px;
                        margin-top: 20px;

                        .icon {

                            &:hover {
                                color: #C92071;
                            }
                        }
                    }
                }
            }

            .info {
                display: flex;
                height: 300px;

                .informac {
                    width: 200px;

                    h4 {
                        margin-bottom: 30px;
                    }

                    a {
                        margin-bottom: 20px;
                        display: block;
                        color: white;
                        transition-duration: 600ms;

                        &:hover {
                            color: var(--rosa);
                        }
                    }
                }

                .categorias {
                    width: 200px;

                    h4 {
                        margin-bottom: 30px;
                    }

                    a {
                        display: block;
                        margin-bottom: 20px;
                        color: white;
                        transition-duration: 600ms;


                        &:hover {
                            color: var(--rosa);
                        }
                    }
                }

                .contato {

                    width: 200px;

                    p {
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }

                    a {
                        color: white;
                    }
                }
            }
        }

        hr {
            color: #C92071;
            border: 1.5px solid var(--gray);
            width: 90%;
            margin: 0px auto;
        }

        .marca {
            display: flex;
            justify-content: center;

            p {
                margin-top: 25px;
                color: white;
                transition-duration: 600ms;
                width: 120px;

                &:hover {
                    color: var(--rosa);
                    cursor: pointer;
                }
            }
        }
    }
}