@font-face {
    font-family: inter;
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

:root {
    --rosa:#C92071;
}


html {
    scroll-behavior: smooth;
   
}
header {
    height: 192px;
    background-color: #FFFFFF;

    .conteiner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 85px;
        
    } 
    #logo {
        display: flex;
        align-items: center;
        gap: 15px;
        color: var(--rosa);

        
        img {
            height: 40px;
            width: 40px;
        }
    }
    .pesq {
        display: flex;
        
        input {
            width: 559px;  
            height: 45px;
            padding-left: 15px;
            transition-duration: 500ms;
            border-radius: 5px;
            
           
        }
        input:focus{ 
            outline-color:var(--rosa);
        }
        i {
            background-color: #C92071;
            color: aqua;
            width: 30px;
            height: 30px;
        }
       
    }
    .acoes {
        display: flex;
        align-items: center;
        gap: 30px;
        a {
            color: black;
            text-decoration: underline;
        }
        button {
            background-color: var(--rosa);
            padding: 10px 30px;
            color: white;
            border-radius: 10px;
            transition-duration: 500ms;
            /* ola */

            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 5px var(--rosa);
            }
        }
    }
    ul {
        display: flex;
        gap: 50px;
        padding-top: 10px;
        padding-left: 85px;

        .active {
            border-bottom: 2px solid var(--rosa);
            
            a {
                color: var(--rosa);
            }
        }
        a {
            color: black;
            transition-duration: 500ms;
            &:hover {
                color: var(--rosa);
            }
        }
    }
  
    
}
@media screen and (max-width: 480px){ 
    header {
        height: 50px;
        #conteiner {
            padding: 30px 40px;
        }
    }
    #logo {
        img {
            width: 10px;
            height: 10px;
        }
        h1 {
            font-size: 15px;
        }
    }
    #pesq {
        #pesqui {
            width: 30px;
            height: 5px;
        }
    }

}